@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

@custom-variant dark (&:where(.dark, .dark *));


hr {
  color: rgb(206, 209, 213);
  margin-inline: 24px;
}

.product-img {
  animation: zoom 0.5s ease-in-out;
}

@keyframes zoom {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}